<!-- Main jumbotron for a primary marketing message or call to action -->
<%= render :partial => 'partials/jumbotron' ,  :locals => {:title=> "New Item:", :description => ""}%>

<div class="container">
  <!-- Example row of columns -->
  <%= render :partial => 'partials/validations' ,  :locals => {:model => @item}%>

  <div class="row">
    <div class="col-md-6">
      <%= form_for @item,  url: {action: "create"} do |f| %>
      <div class="field">
        <%= f.label :name%>
        <%= f.text_field :name ,  :class => 'form-control' %>
        <%= f.label :photo%>
        <%= f.text_field :photo  ,  :class => 'form-control' %>
        <%= f.label :summary%>
        <%= f.text_area :summary  ,  :class => 'form-control' , :rows => 2 %>
        <%= f.label :description%>
        <%= f.text_area :description  ,  :class => 'form-control' , :rows => 5 %>
        <%= f.label :price%>
        <%= f.text_field :price, :class => 'form-control'  %>
        <%= f.label :category%>
        <%= f.collection_select :category_id, Category.all, :id, :name , :class => 'form-control'   %>
      </div>
      <div class="actions">
        <p> </p>
        <%= f.submit "Save"%>
      </div>
      <% end %>
    </div>
  </div>


</div>