<!-- Main jumbotron for a primary marketing message or call to action -->
<%= render :partial => 'partials/jumbotron' ,  :locals => {:title=> "New Category:", :description => ""}%>

<div class="container">
  <!-- Example row of columns -->
  <%= render :partial => 'partials/validations' ,  :locals => {:model => @category}%>

  <div class="row">
    <div class="col-md-6">
      <%= form_for @category,  url: {action: "create"} do |f| %>
      <div class="field">
        <%= f.label :name%>
        <%= f.text_field :name ,  :class => 'form-control' %>
        <%= f.label :photo%>
        <%= f.text_field :photo  ,  :class => 'form-control' %>
      </div>
      <div class="actions">
        <p> </p>
        <%= f.submit "Save"%>
      </div>
      <% end %>
    </div>
  </div>


</div>